<section class="content-main">
  <div class="content-header">
    <h2 class="content-title">Users list</h2>
    {{! <div>
      <a href="#" class="btn btn-primary"><i class="material-icons md-people"></i>
        Create new</a>
    </div>  }}
  </div>
  <div class="card mb-4">
    <header class="card-header">
      <div class="row gx-3">
        <div class="col-lg-4 col-md-6 me-auto">
          <input type="text" placeholder="Search..." class="form-control" />
        </div>
        <div class="col-lg-2 col-md-3 col-6">
          <select class="form-select">
            <option>Status</option>
            <option>Active</option>
            <option>Disabled</option>
            <option>Show all</option>
          </select>
        </div>
        <div class="col-lg-2 col-md-3 col-6">
          <select class="form-select">
            <option>Show 20</option>
            <option>Show 30</option>
            <option>Show 40</option>
          </select>
        </div>
      </div>
    </header>
    <!-- card-header end// -->
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>User</th>
              <th>Email</th>
              <th>Status</th>
              <th>Registered</th>
              <th class="text-end"> Action </th>
            </tr>
          </thead>
          <tbody>
            {{#each usersData}}
              <tr>
                <td width="40%">
                  <a href="#" class="itemside">
                    <div class="left">
                      <img
                        src="/adminAssets/imgs/people/avatar3.jpg"
                        class="img-sm img-avatar"
                        alt="Userpic"
                      />
                    </div>
                    <div class="info pl-3">
                      <h6 class="mb-0 title">{{this.name}}</h6>
                      <small class="text-muted">{{this.userId}}</small>
                    </div>
                  </a>
                </td>

                <td>{{this.email}}</td>

                <!-- Status badge -->
                <td>
                  {{#if this.isActive}}
                    <span class="badge rounded-pill alert-success">Active</span>
                  {{else}}
                    <span
                      class="badge rounded-pill alert-danger"
                    >Inactive</span>
                  {{/if}}
                </td>

                <td>{{this.createdAtFormatted}}</td>

                <td class="text-end">
                  <form
                    action="/admin/block-user/{{this._id}}?status={{this.isActive}}"
                    method="POST"
                    style="display:inline;"
                  >
                    <input
                      type="hidden"
                      name="status"
                      value="{{this.isActive}}"
                    />
                    {{#if this.isBlocked}}
                      <button
                        class="btn btn-sm btn-warning rounded font-sm mt-15"
                      >Unblock</button>
                    {{else}}
                      <button
                        class="btn btn-sm btn-danger rounded font-sm mt-15"
                      >Block</button>
                    {{/if}}
                  </form>
                </td>

              </tr>

            {{/each}}

          </tbody>
        </table>
        <!-- table-responsive.// -->
      </div>
    </div>
    <!-- card-body end// -->
  </div>
  <!-- card end// -->
  {{! <div class="pagination-area mt-15 mb-50">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-start">
        <li class="page-item active"><a class="page-link" href="#">01</a></li>
        <li class="page-item"><a class="page-link" href="#">02</a></li>
        <li class="page-item"><a class="page-link" href="#">03</a></li>
        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
        <li class="page-item"><a class="page-link" href="#">16</a></li>
        <li class="page-item"><a class="page-link" href="#"><i
              class="material-icons md-chevron_right"
            ></i></a></li>
      </ul>
    </nav>
  </div> }}
</section>
<!-- content-main end// -->